{{ define "main" }}
{{ $location := index (where .Site.Pages "Title" .Params.location) 0 }}
<main class="mw6 center ph4 pv4">
  <article>
    <header class='mb3'>
      {{ range .Params.fixture }}
      <span class='italic red mr2'>{{ .day }} {{ .hourstart }}hs.</span>
      {{ end }}
      <h1 class="f2 lh-title primary tight word-wrap">{{ .Title }}</h1>
      en <span><a class='' href='/poi/{{ .Params.location | urlize }}/'>{{ .Params.location }}</a></span>
    </header>
      {{$src := index .Params.images 0}}
      {{$alt := print .Title  " en " .Params.location}}
      {{range .Params.tags}}<span class='mr3 f6 italic black'>{{.}}</span>{{end}}
    <section class='mb3 cms'>
      <h2 class="f3 primary">Descripción</h2>
      {{ .Params.description | markdownify }}
    </section>
    <section class='mb3'>
      <h2 class="f3 primary mb3">Lugar</h2>
      <p>
        {{$location.Params.location.address.streetaddress}}, {{$location.Params.location.address.postalcode}}, {{$location.Params.location.address.addresslocality}}, {{$location.Params.location.address.addressregion}}
      </p>
      <a href={{$location.Params.map}} target='blank'>Ver en google maps</a>
    </section>
    <section class='mb3'>
      <h2 class="f3 primary mb3">Flyer</h2>
      {{ partial "figure.html" (dict "class" "w-100 mb3" "src" $src "alt" $alt "caption" $alt)}} 
    </section>
    <footer>
      <aside>
  {{ partial "share-buttons.html" . }}
      </aside>
    </footer>
  </article>
  <aside>
    <h2 class="f3 mb3 primary">Otros talleres</h2>
    <div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
      {{ range first 4 (shuffle (where .Site.RegularPages "Type" "activitie")) }}
        {{ .Render "li" }}
      {{ end }}
    </div>
  </aside>
</main>

{{ end }}
