<form name="contacto" method="post"><input type="hidden" name="form-name" value="contacto">
      <div class="w-100 mv4">
        <fieldset>
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
       <div class="w-100 mv4">
        <fieldset>
          <label for="categoria">Categoría</label>
          <input type="text" id="categoria" name="categoria" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
        <div class="w-100 mv4">
        <fieldset>
          <label for="slogan">Slogan</label>
          <input type="text" id="slogan" name="slogan" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
         <div class="w-100 mv4">
        <fieldset>
          <label for="calleynumero">Calle y número</label>
          <input type="text" id="calleynumero" name="calleynumero" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
          <div class="w-100 mv4">
        <fieldset>
          <label for="localidad">Localidad</label>
          <input type="text" id="localidad" name="localidad" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
           <div class="w-100 mv4">
        <fieldset>
          <label for="codigopostal">Código Postal</label>
          <input type="text" id="codigopostal" name="codigopostal" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
            <div class="w-100 mv4">
        <fieldset>
          <label for="provincia">Provincia</label>
          <input type="text" id="provincia" name="provincia" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
                                                                                                                                                 
      <div class="w-100 mv4">
        <fieldset>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="nombre@dominio.com" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="tel">Teléfono</label>
          <input type="text" id="tel" name="tel" placeholder="+54 9xxx xxxx" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="bio">Descripción</label>
          <textarea id="descripcion" name="descripcion" class="w-100 mv1 bg-white">Un breve resumen sobre el negocio</textarea>
        </fieldset>
      </div>

      <div class="w-100 mv4">
        <fieldset>
          <label for="facebook">Facebook</label>
          <input type="text" id="facebook" name="facebook" placeholder="/tuperfil" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="instagram">Instagram</label>
          <input type="text" id="instagram" name="instagram" placeholder="/tuperfil" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="twitter">Twitter</label>
          <input type="text" id="twitter" name="twitter" placeholder="/tuperfil" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="web">Web</label>
          <input type="text" id="web" name="web" placeholder="https://tupaginaweb.com" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="obras">Artistas locales</label>
          <input type="text" id="artistas" name="artistas" placeholder="Cuyas obras se puede adquirir en su comercio" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="productores">Productores locales</label>
          <input type="text" id="productores" name="productores" placeholder="Cuyos productos se puede adquirir en su comercio" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
<button type="submit" class="btn w-100 w-auto-ns raise bg-primary white">Enviar</button>
    </form>
