<form name="contacto" method="post"><input type="hidden" name="form-name" value="contacto">
      <div class="w-100 mv4">
        <fieldset>
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      
      <div class="w-100 mv4">
        <fieldset>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="nombre@dominio.com" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="tel">Teléfono</label>
          <input type="text" id="tel" name="tel" placeholder="+54 9xxx xxxx" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="bio">Bio</label>
          <textarea id="bio" name="bio" class="w-100 mv1 bg-white">Un breve resumen sobre vos</textarea>
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="pueblo">Pueblo</label>
          <input type="text" id="pueblo" name="pueblo" placeholder="Por ejemplo: Carpintería" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="facebook">Facebook</label>
          <input type="text" id="facebook" name="facebook" placeholder="/tuperfil" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="instagram">Instagram</label>
          <input type="text" id="instagram" name="instagram" placeholder="/tuperfil" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="twitter">Twitter</label>
          <input type="text" id="twitter" name="twitter" placeholder="/tuperfil" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="web">Web</label>
          <input type="text" id="web" name="web" placeholder="https://tupaginaweb.com" class="w-100 mv1 bg-white">
        </fieldset>
      </div>
      <div class="w-100 mv4">
        <fieldset>
          <label for="donde">Dónde se puede encontrar tus obras</label>
            <input type="text" id="donde" name="donde" placeholder="Por ejemplo: Humano Merlo" class="w-100 mv1 bg-white">
          </fieldset>
        </div>
<button type="submit" class="btn w-100 w-auto-ns raise bg-primary white">Enviar</button>
    </form>
