{{ define "main" }}
{{ $location := index (where .Site.Pages "Title" .Params.location) 0 }}
<main class="mw6 center ph4 pv4">
  <article>
    {{ $time := time .ExpiryDate.Local }}
    <header class='mb3'>
      <span class='italic red'>
        {{ $time.Day }} de {{ index $.Site.Data.mes (printf "%d" $time.Month) }} de {{ $time.Year }} a las {{$time.Hour}}:{{$time.Minute}}hs.
      </span>
      <h1 class="f2 lh-title primary tight word-wrap">{{ .Title }}</h1>
      {{ with .Params.location }}
        <span>
          <a class='' href='/poi/{{ . | urlize }}/'>{{ . }}</a>
        </span>
      {{ end }}
      {{ with .Params.lugar }}
        <span>{{ . }}</span>
      {{ end }}
    </header>
    <section class="mb3 cms">
      {{$src := index .Params.images 0}}
      {{$loc := .Params.lugar | default .Params.location }} 
      {{$alt := print .Title  " en " $loc}}
      {{range .Params.tags}}<span class='mr3 f6 italic black'>{{.}}</span>{{end}}
      <h2 class="f3 mb3 primary">Descripción</h2>
      {{ .Params.description | markdownify }}
    </section>
    {{ if .Content }}
    <section class='mb3 cms'>
      {{ .Content }}
    </section>
    {{ end }}
    <section class='mb3'>
      <h2 class="f3 mb3 primary mb3">Lugar</h2>
      {{ with .Params.location }}
        <p>
          {{$location.Params.location.address.streetaddress}}, {{$location.Params.location.address.postalcode}}, {{$location.Params.location.address.addresslocality}}, {{$location.Params.location.address.addressregion}}
        </p>
        <a href={{$location.Params.map}} target='blank'>Ver en google maps</a>
      {{ end }}
      {{ with .Params.lugar }}
        <span>{{ . }}</span>
      {{ end }}
    </section>
    <section class='mb3'>
      <h2 class='f3 primary mb3'>Flyer</h2>
      {{ partial "figure.html" (dict "class" "w-100 mb3" "src" $src "alt" $alt "caption" $alt)}} 
    </section>
    <footer>
      <aside>
        {{ partial "share-buttons.html" . }}
      </aside>
    </footer>
  </article>
  <aside>
    <h2 class="f3 mb3 primary">Otros eventos</h2>
		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (shuffle (where .Site.RegularPages "Type" "event")) }}
					{{ .Render "li" }}
			{{ end }}
		</div>
  </aside>
</main>
  {{ $loc := where .Site.Pages "Type" "poi" | intersect (where .Site.Pages "Title" .Params.location) }}
  {{ $location := index $loc 0 }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "{{ .Title }}",
  "startDate": "{{ print $time }}",
  "location": {
    "@type": "Place",
    "name": "{{ $location.Title }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ $location.Params.location.address.streetaddress }}", 
      "addressLocality": "{{ $location.Params.location.address.addresslocality }}",
      "postalCode": "{{ $location.Params.location.address.postalcode }}",
      "addressRegion": "{{ $location.Params.location.address.addressregion }}",
      "addressCountry": "AR"
    }
  },
  "image": {{ .Params.images }},
  "description": "{{ .Description | markdownify | plainify }}"
}
</script>
{{ end }}
